.polaroid-container {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0 0 0;
}

.polaroid-white {
  width: 20em;
  opacity: 1;
  transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

.polaroid-white:hover {
  opacity: 0;
}

.polaroid-developed {
  width: 20em;
  z-index: -2;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .polaroid-container {
    margin: 1em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 22.5% 0 0 0;
  }
  
  .polaroid-white {
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 2em;
    transition: opacity .75s ease-in-out;
     -moz-transition: opacity .75s ease-in-out;
     -webkit-transition: opacity .75s ease-in-out;
  }
  
  .polaroid-white:hover {
    opacity: 0;
  }
  
  .polaroid-developed {
    width: 100%;
    z-index: -2;
    position: absolute;
    bottom: 2em;
  }
}