.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sale-section {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: black;
}

.photography-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.all-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: black;
}

.photography-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.videography-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.video-column-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em 0 0;
}

.video-column-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 0 1em;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 2em 0;
}

.video {
  width: 100%;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: courier;
  width: 80%;
  color: white;
  font-size: 4em;
  margin: .75em 0 0 0;
}

.photography-service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.service-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(270deg);
  font-size: .75em;
  width: 10%;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: .5em;
  border: white solid 2px;
  background-color: black;
  color: white;
  text-align: center;
}

.service-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 1em 0;
  font-size: .5em;
  border: white solid 2px;
  border-top: none;
  background-color: white;
  color: black;
}

.service-item {
  font-size: 1em;
  text-align: center;
  width: 75%;
  border-right: black solid 2px;
  background-color: white;
  color: black;
}

.price {
  text-align: center;
  width: 25%;
  background-color: white;
  color: black;
  border: white solid 2px;

}

.service-item-solo {
  border: white solid 2px;
  text-align: center;
  background-color: white;
  color: black;
}

.service-blurb {
  font-size: .5em;
  width: 90%;
  text-align: center;
  margin: 0 0 2em 0;
}

.other-services {
  font-size: 1em;
  text-align: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;
  width: 100%;
}

.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 0 3em 0;
}

.bio-pic {
  width: 32.5%;
}

.bio {
  width: 62.3%;
  font-size: 1em;
  color: white;
  font-family: courier;
}

@media screen and (max-width: 375px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sale-section {
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black;
  }

  .photography-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .all-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black;
  }
  
  .videography-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1em 0 0 0;
  }
  
  .video-column-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 0;
  }
  
  .video-column-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 0;
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 1em 0;
  }
  
  .video {
    width: 100%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: courier;
    width: 80%;
    color: white;
    font-size: 2.5em;
    margin: .75em 0 0 0;
  }
  
  .photography-service {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .service-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(270deg);
    font-size: .5em;
    margin: 0 0 .5em 0;
    width: 10%;
  }
  
  .service-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: .5em;
    border: white solid 2px;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .service-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 1em 0;
    font-size: .5em;
    border: white solid 2px;
    border-top: none;
    background-color: white;
    color: black;
  }
  
  .service-item {
    font-size: 1em;
    text-align: center;
    width: 75%;
    border-right: black solid 2px;
    background-color: white;
    color: black;
  }
  
  .price {
    text-align: center;
    width: 25%;
    background-color: white;
    color: black;
    border: white solid 2px;
  
  }
  
  .service-item-solo {
    border: white solid 2px;
    text-align: center;
    background-color: white;
    color: black;
  }
  
  .service-blurb {
    font-size: .4em;
    width: 90%;
    text-align: center;
    margin: 0 0 1em 0;
  }

  .other-services {
    text-align: center;
    font-size: .8em;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
    width: 100%;
  }
  
  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
    margin: 0 0 6em 0;
  }
  
  .bio-pic {
    width: 100%;
    margin: 0 0 2em 0;
  }
  
  .bio {
    font-family: courier;
    width: 100%;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
  }
}