*{
  margin: 0;
}

.website-heading {
  background-color: black;
  color: white;
  height: 10%;
  width: 100%;
  z-index: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.section-header {
  text-align: center;
  font-size: 150px;
  z-index: 999;
}

.section-header-bumper {
  height: 50px;
  background-color: white;
}

.section-header:hover {
  text-align: center;
  font-size: 150px;
  z-index: 999;
  background-color: black;
  color: white;
}
